In [10]:
import sqlite3
import auxiliares6 as aux

In [11]:
conn_precios = sqlite3.connect('data_bb.db')
conn_eeff = sqlite3.connect('datos_eeff.db')
ticker_cencosud = 'CENCOSUD'
df_analisis, fecha_max_run_up = aux.analizar_datos_eeff(conn_precios, conn_eeff, ticker_cencosud)

# Exportar a excel
df_analisis.to_excel('req6.xlsx', index=False)

# Cerrar conexiones
conn_precios.close()
conn_eeff.close()

   Trimestre_Estado_Financiero Fecha_Primer_envio Fecha_ultimo_envio
0                   2013-03-31   30/05/2013 11:31   30/05/2013 11:33
1                   2013-06-30   30/08/2013 17:07   30/08/2013 17:07
2                   2013-09-30   15/11/2013 19:48   15/11/2013 19:48
3                   2013-12-31   28/03/2014 17:12   28/03/2014 17:12
4                   2014-03-31   27/05/2014 18:25   27/05/2014 18:25
5                   2014-06-30   05/09/2014 12:41   11/09/2014 10:46
6                   2014-09-30   28/11/2014 17:05   28/11/2014 17:05
7                   2014-12-31   27/03/2015 17:09   27/03/2015 17:09
8                   2015-03-31   29/05/2015 17:01   29/05/2015 21:14
9                   2015-06-30   28/08/2015 08:47   02/09/2015 10:32
10                  2015-09-30   27/11/2015 18:06   27/11/2015 18:06
11                  2015-12-31   03/03/2016 17:14   03/03/2016 17:14
12                  2016-03-31   25/05/2016 17:36   26/05/2016 10:25
13                  2016-06-30   25/08/2016 16:58   25/08/2016 16:58
14                  2016-09-30   22/11/2016 17:01   22/11/2016 17:01
15                  2016-12-31   02/03/2017 17:42   10/03/2017 17:33
16                  2017-03-31   25/05/2017 17:28   07/06/2017 10:11
17                  2017-06-30   24/08/2017 17:24   24/08/2017 18:26
18                  2017-09-30   21/11/2017 17:07   30/11/2017 09:53
19                  2017-12-31   01/03/2018 17:03   01/03/2018 17:03
20                  2018-03-31   24/05/2018 17:08   29/05/2018 18:14
21                  2018-06-30   30/08/2018 16:41   04/09/2018 18:12
22                  2018-09-30   22/11/2018 17:02   22/11/2018 17:02
23                  2018-12-31   29/03/2019 16:01   29/03/2019 16:01
24                  2019-03-31   30/05/2019 16:32   30/05/2019 16:32
25                  2019-06-30   29/08/2019 16:27   04/09/2019 11:07
26                  2019-09-30   29/11/2019 16:41   29/11/2019 16:41
27                  2019-12-31   19/03/2020 20:21   25/05/2020 10:17
28                  2020-03-31   14/05/2020 16:37   18/08/2020 20:56
29                  2020-06-30   27/08/2020 17:11   28/08/2020 20:45
30                  2020-09-30   12/11/2020 17:26   23/11/2020 15:49
31                  2020-12-31   25/02/2021 16:39   02/03/2021 15:34
32                  2021-03-31   27/05/2021 16:26   27/05/2021 16:26
33                  2021-06-30   12/08/2021 16:50   17/08/2021 18:54
34                  2021-09-30   11/11/2021 17:44   22/11/2021 10:03
35                  2021-12-31   03/03/2022 16:40   03/03/2022 16:40
36                  2022-03-31   06/05/2022 17:01   20/05/2022 12:24
37                  2022-06-30   11/08/2022 17:13   26/08/2022 10:12
38                  2022-09-30   10/11/2022 17:03   18/11/2022 12:19
39                  2022-12-31   02/03/2023 17:00   09/03/2023 17:27
40                  2023-03-31   09/05/2023 17:03   16/05/2023 16:12
41                  2023-06-30   17/08/2023 17:16   22/08/2023 11:19
42                  2023-09-30   16/11/2023 17:02   22/11/2023 16:24

In [12]:
fecha_max_run_up

                     17
Fecha_EEFF   2023-05-09
Retorno_r_a    6.295337
Retorno_r_b    0.712435
Run_up         8.836364
Año                2023
Trimestre            03

In [13]:
df_analisis

    Fecha_EEFF  Retorno_r_a  Retorno_r_b    Run_up   Año Trimestre
0   2019-03-29    -5.840000    -5.752000  1.015299  2018        12
1   2019-05-30    -0.980545     0.389105 -2.520000  2019        03
2   2019-08-29   -24.057348   -22.580645  1.065397  2019        06
3   2019-11-29    -0.794439     1.787488 -0.444444  2019        09
4   2020-03-19   -39.698492   -37.587940  1.056150  2019        12
5   2020-05-14    -7.070707     2.020202 -3.500000  2020        03
6   2020-08-27    -4.461538    -5.730769  0.778523  2020        06
7   2020-11-12    11.209964    15.480427  0.724138  2020        09
8   2021-02-25     2.939015     4.151359  0.707965  2020        12
9   2021-05-27   -15.248897   -11.153119  1.367232  2021        03
10  2021-08-12     4.819188     9.741697  0.494697  2021        06
11  2021-11-11   -14.972900   -14.498645  1.032710  2021        09
12  2022-03-03    -4.835564    -1.943641  2.487889  2021        12
13  2022-05-06   -11.308784   -12.093662  0.935100  2022        03
14  2022-08-11     0.244898    -2.040816 -0.120000  2022        06
15  2022-11-10    12.510495     9.151973  1.366972  2022        09
16  2023-03-02     7.622378     8.391608  0.908333  2022        12
17  2023-05-09     6.295337     0.712435  8.836364  2023        03
18  2023-08-17     3.047404     2.708804  1.125000  2023        06
19  2023-11-16    -9.520767    -9.520767  1.000000  2023        09